.App-header {
  background-color: #ebd5b3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.canonText pre {
  font-family: serif;
  font-size: calc(7px + 1.5vmin);
  margin: 0;
}

.canonText pre b {
  color: #a00;
}

#buttonsDiv {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.smallFont {
  font-size: calc(5px + 1vmin);
}

.searchBar {
      width:"20rem";
      background:"#F2F1F9";
      border:"none";
      padding:"0.5rem";
}

.pagination {
   display: inline-block;
   margin-left: 20px;
   padding-left: 0;
}

.pagination li {
   display: inline-block;
   border: 1px solid rgb(224, 224, 224);
   border-radius: 5px;
   background: #FFF;
   margin-right: 3px;
   margin-bottom: 5px;
}

.pagination li a {
   padding: 4px 5px;
   display: inline-block;
   color: #000;
 }

.pagination li.active {
   background: #87CEFF;
}

.resultLabel {
   color: #822;
   opacity: 60%;
   font-size: calc(5px + 1vmin);
   text-align: right;
   margin-top: 0;
   margin-bottom: calc(8px + 1.5vmin);
}

.resultLabel p {
    margin: 0;
}
