.App-header {
  background-color: #ebd5b3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.canonText pre {
  font-family: serif;
}

#buttonsDiv {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.smallFont {
  font-size: calc(5px + 1vmin);
}

.searchBar {
      width:"20rem";
      background:"#F2F1F9";
      border:"none";
      padding:"0.5rem";
}
