.App-header {
  background-color: #ebd5b3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.canonText pre {
  font-family: serif;
}
